<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>角色管理</title>
    <link rel="stylesheet" href="/static/assets/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/assets/style/admin.css" media="all">
</head>
<body layadmin-themealias="default">
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <table id="table" lay-filter="table"></table>
        </div>
    </div>
</div>

<div id="setPermissionModel" style="display: none">
    <div id="permissionsTransfer"></div>
</div>

<script type="text/html" id="toolbar">
    <a class="layui-btn layui-btn-sm" lay-event="addRole">添加角色</a>
</script>

<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" lay-event="setPermission">设置权限</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script src="/static/assets/layui/layui.js"></script>
<script src="/static/js/notice.js"></script>
<script src="/static/js/ajax.js"></script>
<script>
    layui.config({
        base:'/static/assets'
    }).extend({
        transfer:'/lib/transfer'
    }).use(['table', 'jquery', 'layer','transfer'], function () {
        var $ = layui.$,
            table = layui.table,
            layer = layui.layer,
            transfer=layui.transfer;

        var tableIns = table.render({
            elem: '#table',
            toolbar:'#toolbar',
            height:'full',
            defaultToolbar: ['print', 'exports'],
            cols: [
                [
                    {field:'id',title:'ID',sort:true},
                    {field: 'name', title: "名称"},
                    {field:'permissions',title:'权限',event:'showPermission',
                        templet:function(d){
                            return '<a id="permission_'+d.id+'" style="cursor: pointer">'+d.permissions.length+'个权限</a>';
                        }},
                    {field: 'createTime', title: "创建时间", sort: true},
                    {field: 'updateTime', title: "更新时间", sort: true},
                    {title: '操作', align: 'center', width: '10%', toolbar: '#bar'}
                ]
            ],
            text: {
                none: '暂无相关数据'
            },
            page: false,
            skin:'line',
            url: "/authority/getAllRole",
            response: {
                statusCode: 200
            },
            parseData: function (res) {
                return {
                    "code": res.code,
                    "data": res.data
                };
            }
        });

        table.on('tool(table)', function (obj) {
            var data = obj.data;
            var tr = obj.tr;
            switch (obj.event) {
                case 'del':
                    layer.confirm('真的删除么',{title:'删除角色',shadeClose:true}, function (index) {
                        layer.close(index);
                        $.post("/authority/delRole",{
                            id: data.id,
                            name: data.name
                        },function (res) {
                            if (res.code === 200) {
                                obj.del();
                                notice_success('删除成功');
                            } else {
                                notice_error(res.msg);
                            }
                        });
                    });
                    break;
                case 'showPermission':
                    if (data.permissions.length!==0){
                        var content='';
                        data.permissions.forEach(function (value) {
                            content+=value.path+'</br>';
                        });
                        layer.tips(content, '#permission_'+data.id,{
                            tips: [2,'#383838'],
                            shade:0.0001,
                            shadeClose:true
                        });
                    }
                    break;
                case 'setPermission':
                    var permissionsTransfer;
                    layer.open({
                        type:1,
                        title:'设置权限',
                        content:$('#setPermissionModel'),
                        area: ['1200px', '600px'],
                        shadeClose:true,
                        btn: ['确定', '取消'],
                        success: function(layero, index){
                            var url;
                            if (data.permissions.length===0)
                                url='/authority/getAllPermission';
                            else
                                url='/authority/getNotOwnedPermissionsByRole?roleId='+data.id;
                            $.get(url,function (res) {
                                if (res.code===200) {
                                    var cols = [
                                        {type: 'checkbox', fixed: 'left'},
                                        {field: 'id', title: 'ID',width:'14%'},
                                        {field: 'path', title: '权限路径'},
                                        {field: 'description', title: '权限描述'}
                                    ];
                                    var tabConfig = {'page':true,'height':'full'};
                                    permissionsTransfer = transfer.render({
                                        elem: "#permissionsTransfer",
                                        cols: cols,
                                        data: [res.data,data.permissions],
                                        tabConfig: tabConfig
                                    });
                                }
                                else {
                                    notice_error(res.msg);
                                    layer.close(index);
                                }
                            });
                        },
                        yes: function (index, layero) {
                            var paths=[];
                            transfer.get(permissionsTransfer,'r').forEach(function (value) {
                                paths.push(value.path);
                            });
                            ajax_post_json('/authority/setPermissions?roleId=' + data.id,JSON.stringify(paths),function (res) {
                                if (res.code===200){
                                    tableIns.reload();
                                    notice_success('权限设置成功');
                                }else
                                    notice_error(res.msg);
                            });
                            layer.close(index);
                        }
                    });
                    break;
            }
        });

        table.on('toolbar(table)',function (obj) {
            var data=obj.data;
            switch (obj.event) {
                case 'addRole':
                    layer.prompt({
                        title: '请输入角色名',
                        shadeClose:true
                    },function(value, index, elem){
                        var role={
                            name:value
                        };
                        ajax_post_json('/authority/addRole',JSON.stringify(role),function (res) {
                            if (res.code===200) {
                                notice_success('角色添加成功');
                                tableIns.reload();
                            }else
                                notice_error(res.msg);
                        });
                        layer.close(index);
                    });
                    break;
            }
        })
    })
</script>
</body>
</html>