<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生选课管理</title>
    <link rel="stylesheet" href="/static/assets/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/assets/style/admin.css" media="all">
    <style type="text/css">
        .layui-layer-page .layui-layer-content {
            overflow: inherit !important;
        }
    </style>
</head>
<body layadmin-themealias="default">
<div class="layui-fluid">
    <div class="layui-card">
        <form class="layui-form layui-form-pane layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">课程名称</label>
                    <div class="layui-input-inline">
                        <select id="courseSelector" name="course" lay-search="" lay-filter="course">
                            <option th:each="course,iterStat:${courseList}" th:value="${course.id}"
                                    th:selected="${iterStat.index==0}"
                                    th:text="${course.name}+'('+${course.semester}+')'"></option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
        <div class="layui-card-body">
            <table id="table" lay-filter="table"></table>
        </div>

    </div>
</div>

<div id="setCourseStudentModel" style="display: none">
    <table id="studentTable" lay-filter="studentTable"></table>
</div>

<script type="text/html" id="toolbar">
    <a class="layui-btn layui-btn-sm" lay-event="addCourseStudent">添加学生</a>
</script>

<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script src="/static/assets/layui/layui.js"></script>
<script src="/static/js/notice.js"></script>
<script src="/static/js/ajax.js"></script>
<script>
    layui.use(['table', 'jquery', 'layer', 'form', 'laydate'], function () {
        var $ = layui.$,
            table = layui.table,
            layer = layui.layer,
            form = layui.form;

        var tableIns = table.render({
            elem: '#table',
            height: 'full-160',
            toolbar: '#toolbar',
            defaultToolbar: ['print', 'exports'],
            cols: [
                [
                    {field: 'id', title: 'ID', sort: true},
                    {field: 'idNumber', title: '学号', sort: true},
                    {field: 'name', title: "姓名"},
                    {title: '操作', align: 'center', width: '10%', toolbar: '#bar'}
                ]
            ],
            text: {
                none: '暂无相关数据'
            },
            page: false,
            url: "/course/getStudentsByCourse",
            where: {courseId: $('#courseSelector  option:selected').val()},
            response: {
                statusCode: 200
            },
            parseData: function (res) {
                return {
                    "code": res.code,
                    "data": res.data
                };
            }
        });

        table.on('tool(table)', function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case 'del':
                    layer.confirm('真的删除么', {title: '删除用户', shadeClose: true}, function (index) {
                        layer.close(index);
                        $.get('/course/delStudent', {
                            courseId:$('#courseSelector  option:selected').val(),
                            studentId: data.id
                        }, function (res) {
                            if (res.code === 200) {
                                obj.del();
                                notice_success('删除成功');
                            } else {
                                notice_error(res.msg);
                            }
                        });
                    });
                    break;
            }
        });

        table.on('toolbar(table)', function (obj) {
            switch (obj.event) {
                case 'addCourseStudent':
                    layer.open({
                        type: 1,
                        title: '添加学生',
                        content: $('#setCourseStudentModel'),
                        area: ['600px', '500px'],
                        shadeClose: true,
                        btn: ['确定', '取消'],
                        success: function (layero, index) {
                            table.render({
                                elem: '#studentTable',
                                height: '400',
                                toolbar: false,
                                cols: [
                                    [
                                        {type:'checkbox',fixed:'left'},
                                        {field: 'id', title: 'ID',width:'10%', sort: true},
                                        {field: 'idNumber', title: '学号', sort: true},
                                        {field: 'name', title: "姓名"}
                                    ]
                                ],
                                text: {
                                    none: '暂无相关数据'
                                },
                                page: false,
                                url: "/course/getStudentUnChoose",
                                where: {courseId: $('#courseSelector  option:selected').val()},
                                response: {
                                    statusCode: 200
                                },
                                parseData: function (res) {
                                    return {
                                        "code": res.code,
                                        "data": res.data
                                    };
                                }
                            })
                        },
                        yes: function (index, layero) {
                            var students=table.checkStatus('studentTable');
                            ajax_post_json('/course/addStudents?courseId=' + $('#courseSelector  option:selected').val(),
                                JSON.stringify(students.data), function (res) {
                                    if (res.code === 200) {
                                        tableIns.reload();
                                        notice_success('学生添加成功');
                                    } else
                                        notice_error(res.msg);
                                });
                            layer.close(index);
                        }
                    });
                    break;
            }
        });

        form.on('select(course)', function (data) {
            tableIns.reload({
                where: {courseId: $('#courseSelector  option:selected').val()}
            });
        })
    })
</script>
</body>
</html>