<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>课程管理</title>
    <link rel="stylesheet" href="/static/assets/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/assets/style/admin.css" media="all">
</head>
<body layadmin-themealias="default">
<div class="layui-fluid">
    <div class="layui-card">
        <form class="layui-form layui-form-pane layui-card-header layuiadmin-card-header-auto" lay-filter="form">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">学年</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="year">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">学期</label>
                    <div class="layui-input-inline">
                        <select id="semesterSelector" name="semester" lay-search="" lay-filter="semester" >
                            <option value="1">01</option>
                            <option value="2">02</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
        <div class="layui-card-body">
            <table id="table" lay-filter="table"></table>
        </div>

    </div>
</div>

<div id="addCourseModel" style="display: none;margin: 20px;" align="center">
    <form class="layui-form layui-form-pane" lay-filter="addCourse">
        <div class="layui-form-item">
            <label class="layui-form-label">入学年份</label>
            <div class="layui-input-inline">
                <input type="text" name="year" class="layui-input" id="yearSelector" placeholder="请选择学生入学年份">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">专业</label>
            <div class="layui-input-inline">
                <select name="majorId" lay-verify="required" lay-search="" class="layui-input">
                    <option value="">请选择或输入专业</option>
                    <option th:each="major:${majorList}" th:value="${major.id}" th:text="${major.name}"></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">学号区间</label>
                <div class="layui-input-inline" style="width: 27%;">
                    <input type="number" name="idStart" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid">-</div>
                <div class="layui-input-inline" style="width: 26.5%;">
                    <input type="number" name="idEnd" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <button class="layui-btn" lay-filter="generate" lay-submit>提交</button>
            </div>
        </div>
    </form>
</div>

<script type="text/html" id="toolbar">
    <a class="layui-btn layui-btn-sm" lay-event="addCourse">添加课程</a>
</script>

<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script src="/static/assets/layui/layui.js"></script>
<script src="/static/js/notice.js"></script>
<script src="/static/js/ajax.js"></script>
<script>
    layui.use(['table', 'jquery', 'layer','laydate','form'], function () {
        var $ = layui.$,
            table = layui.table,
            layer = layui.layer,
            laydate=layui.laydate,
            form=layui.form;

        var year=getSemester();

        laydate.render({
            elem: '#year'
            ,type: 'year'
            ,range: '-'
            ,value:year
            ,btns: ['confirm']
            ,done: function(value){
                year=value;
                tableIns.reload({
                    where:{
                        semester:value+' '+$('#semesterSelector option:selected').text()
                    }
                });
            }
        });

        var tableIns = table.render({
            elem: '#table',
            height: 'full-80',
            toolbar:'#toolbar',
            defaultToolbar: ['print', 'exports'],
            cols: [
                [
                    {field:'id',title:'ID',sort:true},
                    {field: 'name', title: '课程名称', sort: true},
                    {field:'major',title:'所属专业',sort:true,templet:function (d) {
                        return d.major.name;
                        }},
                    {field:'teacher',title:'任课教师',sort:true,templet:function (d) {
                        return d.teacher.name;
                        }},
                    {field:'students',title:'选课人数',sort:true,templet:function (d) {
                        return d.students===null?0:d.students.length;
                        }},
                    {field:'time',title:'上课时间'},
                    {title: '操作', align: 'center', width: '10%', toolbar: '#bar'}
                ]
            ],
            text: {
                none: '暂无相关数据'
            },
            page: false,
            url: "/course/getCoursesBySemester",
            where:{
                semester:year+' '+$('#semesterSelector option:selected').text()
            },
            response: {
                statusCode: 200
            },
            parseData: function (res) {
                return {
                    "code": res.code,
                    "data": res.data.list,
                    "count":res.data.count
                };
            }
        });

        table.on('tool(table)', function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case 'del':
                    layer.confirm('真的删除么',{title:'删除用户',shadeClose:true}, function (index) {
                        layer.close(index);
                        $.get('/course/del',{
                            id: data.id
                        },function (res) {
                            if (res.code === 200) {
                                obj.del();
                                notice_success('删除成功');
                            } else {
                                notice_error(res.msg);
                            }
                        });
                    });
                    break;
            }
        });

        table.on('toolbar(table)',function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case 'addCourse':

                    break;
            }
        });

        form.on('select(semester)',function () {
            tableIns.reload({
                where:{
                    semester:year+' '+$('#semesterSelector option:selected').text()
                }
            });
        });

        function getSemester() {
            var date=new Date();
            var year=date.getFullYear();
            var month=date.getMonth();
            if (month>=8||month<=1){
                setSemester(1);
                return year+" - "+(year+1);
            }
            else {
                setSemester(2);
                return (year-1)+" - "+year;
            }
        }

        function setSemester(semester) {
            form.val('form',{
                semester:semester
            })
        }
    })
</script>
</body>
</html>